<nav class="navbar navbar-inverse">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/shooting/create">Shooting Create</a></li>
        <li><a href="#/shooting/list">Shooting List</a></li>
        <li><a href="#/model/create">Model Create</a></li>
        <li><a href="#/model/list">Model List</a></li>
        <li><a href="#/date/create">Date Create</a></li>
        <li><a href="#/date/list">Date List</a></li>
      </ul>
    </div>
  </div>
</nav>
