<div ng-include src="'partials/navi-admin.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Create Shooting</h1>

    <form name="createShootingForm" ng-submit="submit()">
      <fieldset>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ng-model="shooting.name" ng-model-options="{ updateOn: 'blur' }" min="1" max="255" required=""/>
      </fieldset>
      <input type="submit" value="create Shooting"/>
    </form>

  </div>
</div>
