<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Shooting mit Termin</h1>
    <ul ng-show="shootingsWithDate.length" class="shootings">
      <li ng-repeat="shooting in shootingsWithDate" class="thumbnail shooting-listing">
        <div style="float: left">
          <a href="#/shooting/show/{{shooting.id}}">{{shooting.date_id}} {{shooting.name}}</a>
        </div>
        <div style="float: right">
          <a href="#/shooting/update/{{shooting.id}}">edit</a>
          <a href="#/shooting/delete/{{shooting.id}}" onclick="confirm('sicher?')">delete</a>
        </div>
        <div style="clear: both"></div>
      </li>
    </ul>
    <div ng-show="!shootingsWithDate.length">There is no shooting avaiable.</div>

    <h1>Shooting ohne Termin</h1>
    <ul ng-show="shootingsWithoutDate.length" class="shootings">
      <li ng-repeat="shooting in shootingsWithoutDate" class="thumbnail shooting-listing">
        <div style="float: left">
          <a href="#/shooting/show/{{shooting.id}}">{{shooting.name}}</a>
        </div>
        <div style="float: right">
          <a href="#/shooting/update/{{shooting.id}}">edit</a>
          <a href="#/shooting/delete/{{shooting.id}}" onclick="confirm('sicher?')">delete</a>
        </div>
        <div style="clear: both"></div>
      </li>
    </ul>
    <div ng-show="!shootingsWithoutDate.length">There is no shooting avaiable.</div>


  </div>
</div>
