<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Shooting mit Termin</h1>
    <ul ng-show="shootingsWithDate.length" class="shootings">
      <li ng-repeat="shooting in shootingsWithDate" class="thumbnail shooting-listing">
        <div>{{shooting.name}}</div>
        <div>{{shooting.date.start}} bis {{shooting.date.end}}</div>
      </li>
    </ul>
    <div ng-show="!shootingsWithDate.length">Keine Shooting mit Termin vorhanden.</div>

    <h1>Shooting ohne Termin</h1>
    <ul ng-show="shootingsWithoutDate.length" class="shootings">
      <li ng-repeat="shooting in shootingsWithoutDate" class="thumbnail shooting-listing">
        <a href="#/date/select/{{shooting.id}}">{{shooting.name}}</a>
      </li>
    </ul>
    <div ng-show="!shootingsWithoutDate.length">Keine Shooting ohne Termin vorhanden.</div>

  </div>
</div>
