<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Models</h1>
    <ul ng-show="models.length" class="models">
      <li ng-repeat="model in models | orderBy:'firstname+lastname'" class="thumbnail model-listing">
        <div style="float:left">
          <a href="#/model/show/{{model.id}}">{{model.firstname}} {{model.lastname}}</a>
        </div>
        <div style="float:right">
          <a href="#/model/update/{{model.id}}">bearbeiten</a>
          <a href="#/model/delete/{{model.id}}">l&ouml;schen</a>
        </div>
        <div style="clear:both"></div>
      </li>
    </ul>
    <div ng-show="!models.length">Kein Model vorhaden.</div>

  </div>
</div>
