<div ng-include src="'partials/navi-admin.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Models</h1>
    <ul ng-show="models.length" class="models">
      <li ng-repeat="model in models" class="thumbnail model-listing">
        <p><b><a href="#/model/show/{{model.id}}">Id: {{model.id}} Firstname: {{model.firstname}} Lastname: {{model.lastname}} Email: {{model.email}} Phone: {{model.phone}}</a></b></p>
      </li>
    </ul>
    <div ng-show="!models.length">There is no models avaiable.</div>

  </div>
</div>
