<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Benutzer</h1>
    <ul ng-show="users.length" class="users">
      <li ng-repeat="user in users | orderBy:'login'" class="thumbnail user-listing">
        <div style="float:left">
          <a href="#/user/update/{{user.id}}">{{user.login}}</a>
        </div>
        <div style="float:right">
          <a href="#/user/update/{{user.id}}">bearbeiten</a>
          <a href="#/user/delete/{{user.id}}">l&ouml;schen</a>
        </div>
        <div style="clear:both"></div>
      </li>
    </ul>
    <div ng-show="!users.length">Kein Benutzer vorhanden.</div>

  </div>
</div>
