<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <form name="dateForm" class="form-horizontal" ng-submit="submit()">
    <fieldset>

      <legend ng-if="!date.id">Termin anlegen</legend>
      <legend ng-if="date.id">Termin bearbeiten</legend>

      <ul class="messages">
        <li ng-repeat="message in messages">
          {{message}}
        </li>
      </ul>

      <div class="form-group">
        <label class="col-md-4 control-label" for="start">Start</label>

        <div class="col-md-4">
          <input type="text" id="start" name="start" ng-model="date.start" ng-model-options="{ updateOn: 'blur' }" min="1" max="255" required="" datetime placeholder="2015-08-12T15:45:30+02:00" class="form-control input-md"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="end">Ende</label>

        <div class="col-md-4">
          <input type="text" id="end" name="end" ng-model="date.end" ng-model-options="{ updateOn: 'blur' }" min="1" max="255" required="" datetime placeholder="2015-08-12T15:45:30+02:00" class="form-control input-md"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>

        <div class="col-md-4">
          <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary"  ng-disabled="dateForm.$invalid" value="speichern"/>
        </div>
      </div>

    </fieldset>
  </form>

</div>
