<div ng-include src="'partials/navi.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Termine</h1>
    <ul ng-show="dates.length" class="dates">
      <li ng-repeat="date in dates | orderBy:'start'" class="thumbnail date-listing">
        <div style="float:left">
          <a href="#/date/update/{{date.id}}">{{date.start | date:'yyyy-MM-dd HH:mm'}}</a> bis <a href="#/date/update/{{date.id}}">{{date.end | date:'yyyy-MM-dd HH:mm'}}</a>
        </div>
        <div style="float:right">
          <a href="#/date/update/{{date.id}}">bearbeiten</a>
          <a href="#/date/delete/{{date.id}}" onclick="confirm('delete?')">l&ouml;schen</a>
        </div>
        <div style="clear:both"></div>
      </li>
    </ul>
    <div ng-show="!dates.length">Kein Termin vorhanden.</div>

  </div>
</div>
