<div ng-include src="'partials/navi-admin.html'"></div>
<div class="container">

  <div class="starter-template">
    <h1>Dates</h1>
    <ul ng-show="dates.length" class="dates">
      <li ng-repeat="date in dates" class="thumbnail date-listing">
        <a href="#/date/show/{{date.id}}"><b>Id:</b> {{date.id}}</a>
        <a href="#/date/show/{{date.id}}"><b>Start:</b> {{date.start}}</a>
        <a href="#/date/show/{{date.id}}"><b>End:</b> {{date.end}}</a>
        <a href="#/date/update/{{date.id}}">edit</a>
        <a href="#/date/delete/{{date.id}}" onclick="confirm('delete?')">delete</a>
      </li>
    </ul>
    <div ng-show="!dates.length">There is no date avaiable.</div>

  </div>
</div>
